body {
      font-family: Myriad Pro, sans-serif;
      padding: 0;
      margin: 0;
}

.clearfix:after {
      content: '';
      display: table;
      width: 100%;
      clear: both;
}
            
div {
      box-sizing: border-box;
}       
header {
      background: url(img/fon1.png) no-repeat center top / cover;
      height: 650px;
      margin-bottom: 50px;
      

}
 
.container {
      width: 93%;
      margin: 0 auto;


}

.logo {
      float: right;
      margin: 30px 0 0 0;

}

nav {
      float: right;
      margin: 27px 0 0 0;

}

.menu {
      padding: 0;
      margin: 0;
      display: block;
}


.menu li {
      float: left;
      display: block;
      margin-right: 40px;

}
.menu li a {
      color: #161b19;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;

}
.title h2{
      font-size: 50px;
      margin: 160px 0 0 100px;
      color: #000;
      font-weight: normal;

      
}
.titles {
      font-size: 18px;
      color: #000;
      margin: 25px 0 0 100px;
      text-align: left;
      font-weight: normal;
      width: 470px;
      display: block;
}

.pl {
      margin: 30px 0 0 105px;
}

#section-1 {
      background: url(img/fon2.png) no-repeat center / cover;
      height: 650px;
      margin-bottom: 50px;
}


.title_1 h2 {
      font-size: 50px;  
      margin: 140px 175px 0 0;
      color: #000;
      font-weight: normal;
      float: right;
      display: block;
      width: 400px;
      height: 80px;
      

}      
.titles_1 {
      font-size: 18px;
      color: #000;
      margin: 10px 70px 0 0;
      text-align: left;
      font-weight: normal;
      width: 620px;
      display: block;
      float: right; 
}

.pl_2 {
      display: block;
      width: 90px;
      height: 30px;
      float: left;
      margin: 157px 0 0 565px;
      
}
nav {
      float: right;
}

.icon {
      float: left;
      display: block;
      margin: 50px 377px 0 0;
      width: 250px


}

.icon img {
      margin: 8px;
}

#section-2 {
      background: url(img/fon3.png) no-repeat center / cover;
      height: 650px;
      margin-bottom: 50px;
}
#section-2 .Previous {
      float: left;
      display: block;
      margin: 300px 0 0 0;
}
#section-2 .Next {
      float: right;
      display: block;
      margin: 300px 0px 0 0;
}

#section-3 {
      background: url(img/fon4.png) no-repeat center / cover;
      height: 650px;
      margin-bottom: 50px;
}

.title_2 h2{
      font-size: 50px;  
      margin: 160px 0 0 120px;
      color: #000;
      font-weight: normal;
      float: left;
      display: block;
      position: absolute;
      

      
}
.titles_2 {
      font-size: 18px;
      color: #000;
      margin: 250px 0 0 120px;
      text-align: left;
      font-weight: normal;
      display: block;
      float: left; 
      width: 430px;
      position: absolute;

}

.pl_3 {
      margin: 400px 0 0 120px;
      float: left;
      display: block;
      position: absolute;
     
}

.photo {
      margin: 120px 20px 0 0;
      float: right;
      display: block;
      
}
#section-4 {
      background: url(img/fon4.png) no-repeat center / cover;
      height: 650px;
      margin-bottom: 50px;
}
.photo1 {
      margin: 150px 0 0 30px;
      float: left;
      display: block;
}
.photo3 {
      margin: 150px 15px 0 0;
      float: right;
      display: block;
}
.photo2 {
      margin: 115px 0 0 335px;
      float: right;
      display: block;
      position: absolute;
}      
#section-4 .Previous {
      display: block;
      margin: 290px 0 0 0;
      position: absolute;

}
#section-4 .Next {
      display: block;
      margin: 290px 0 0 1200px ;
      position: absolute;
}
footer {
      background: url(img/fon5.png) no-repeat center bottom / cover;
      height: 650px;
}
.title_3 h2{
      font-size: 50px;  
      margin: 60px 0 0 560px;
      color: #000;
      font-weight: normal;
      float: left;
      display: block;
      position: absolute;
      

      
}
.title_3 p {
      font-size: 18px;
      color: #000;
      margin: 150px 0 0 170px;
      text-align: center;
      font-weight: normal;
      display: block;
      float: left; 
      width: 1000px;
      position: absolute;
}
.form1 {
      margin: 300px 0 0 380px;
      position: absolute;
      display: block;
      background-color: #eee;
      width: 255px;
      height: 40px;
      border: 1px solid #000;
      padding: 0px 0 0 20px;
      font-size: 14px;
}
.form2 {
      margin: 300px 0 0 690px;
      position: absolute;
      display: block;
      background-color: #eee;
      width: 275px;
      height: 40px;
      border: 1px solid #000;
      padding: 0px 0 0 20px;
      font-size: 14px;
}
.form3 {
      margin: 380px 0 0 380px;
      position: absolute;
      display: block;
      background-color: #eee;
      width: 585px;
      height: 100px;
      border: 1px solid #000;
      padding: 10px 0 0 20px;
      font-size: 14px;
      resize: none;

}
::-webkit-input-placeholder {
      color: black;
}

.button {
      background: #000;
      color: #fff;
      display: block;
      margin: 530px 0 0 380px;
      position: absolute;
      padding: 13px 248px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      border: 1px solid black;
}
.button:active{
      padding-top: 10px;
}