body {
      font-family: Myriad Pro, sans-serif;
      padding: 0;
      margin: 0;
}

.clearfix:after {
      content: '';
      display: table;
      width: 100%;
      clear: both;
}
            
div {
      box-sizing: border-box;
}       
header {
      background: url(img/fon1.png) no-repeat center top / cover;
      height: 650px;

}
 
.container {
      width: 93%;
      margin: 0 auto;


}

.logo {
      float: right;
      margin: 30px 0 0 0;

}

nav {
      float: right;
      margin: 27px 0 0 0;

}

.menu {
      padding: 0;
      margin: 0;
      display: block;
}


.menu li {
      float: left;
      display: block;
      margin-right: 40px;

}
.menu li a {
      color: #161b19;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Myriad Pro, sans-serif;
      font-size: 18px;

}
h2{
      font-size: 50px;
      margin: 160px 0 0 100px;
      color: #000;
      text-decoration: none;
      font-weight: normal;

      
}
.titles_ferst {
      font-size: 18px;
      color: #000;
      margin: 25px 0 0 100px;
      text-align: left;
      font-weight: normal;


}

.titles1 {
      width: 550px;
}
.pl {
      margin: 30px 0 0 105px;
}