body {
            background: #f3f2f3;
            color: #000000;
            font-family: Trebuchet MS, Arial, Times New Roman;
            font-size: 14px;
}
 
.ln {
            background: #d6d9d6;
            margin: 30px auto;
            width: 900px;
            height: 600px;
}
 
.header {
            background: #66CCCC;
            height: 80px;
            width: 900px;
}
 
.navigation {
            background: #b0c5e1;
            width: 900px;
            height: 20px;
}
 
.menu {
            background: #8a8e8c;
            float: left;
            width: 200px;
            height: 400px;
}
 
.content {
            background: #d2d0d2;
            float: right;
 
            width: 700px;
            height: 400px;
}

.clear {
            clear:both;
}
.footer {
            background: #595e5c;
            height: 80px;
            width: 900px;
}